/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.regularButton {
	margin: 5px !important;
	padding: 3px 0 !important;
	max-width: 62px;
	min-width: 58px;
}

.tallButton {
	margin: 5px 0 5px 10px !important;
	padding: 3px 0 !important;
	width: 58px;
	height: 46px;
}

.largeButton {
	margin: 10px !important;
	max-width: 126px;
}

.longHorizontalButton {
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-top: 5px !important;
	width: 115px;
}

.selectCustomerButton {
	margin-left: 5px !important;
	margin-right: 5px !important;
	margin-top: 5px !important;
	min-width: 70px;
}
